:root {
    --brown-color: #705e39;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    transition: all 0.3s ease;
}

/* Content Styles */
/* Content Styles */
.content {
    margin-top: 130px; /* This should be greater than or equal to the height of the navbar */
    padding: 20px; /* Optional: Adjust as needed for spacing between navbar and content */
}


.navbar.small {
    padding: 10px 20px;
    height: 70px;
}

.logo-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content {
        margin-top: 80px; /* Adjust this value for small screens */
    }
}

.logo-container img {
    height: 80px;
    transition: height 0.3s ease;
}

.navbar.small .logo-container img {
    height: 60px;
}

.logo-text {
    padding-top: 5px;
    font-size: 1.2em;
    color: var(--brown-color);
    transition: opacity 0.3s ease;
}

.navbar.small .logo-text {
    opacity: 0;
}

/* Menu Icon */
.menu-icon {
    display: flex;
    align-items: center;
    font-size: 2em;
    color: var(--brown-color);
    cursor: pointer;
    background: none;
    border: none;
    padding: 5px;
}

/* Menu Text Styles */
.menu-text {
    margin-left: 5px;
    font-size: 1em; /* Adjust as needed */
}

/* Book Visit Button */
.book-visit {
    margin-right: 20px;
}

.book-visit button {
    padding: 10px 20px;
    border: 2px solid var(--brown-color);
    background-color: transparent;
    color: var(--brown-color);
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.book-visit button:hover {
    background-color: var(--brown-color);
    color: white;
}

/* Side Menu */
.side-menu {
    position: fixed;
    left: -250px;
    top: 0;
    width: 250px;
    height: 100%;
    background-color: var(--brown-color);
    color: white;
    padding: 20px;
    transition: left 0.3s ease;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
    z-index: 1001;
}

.side-menu.active {
    left: 0;
}

.side-menu nav ul {
    list-style: none;
    padding: 0;
}

.side-menu nav ul li {
    margin: 20px 0;
}

.side-menu nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

.close-menu {
    cursor: pointer;
    font-size: 1.5em;
    background: none;
    border: none;
    color: white;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .menu-text {
        display: none;
    }

    .book-visit {
        display: none;
    }

    .logo-container {
        flex-grow: 1;
    }

    .navbar.small .logo-container .logo-text {
        display: none;
    }

    .mobile-only {
        display: block;
    }
}

@media (min-width: 769px) {
    .mobile-only {
        display: none;
    }
}

@media (max-width: 480px) {
    .menu-icon {
        margin-left: 10px;
    }

    .logo-container img {
        height: 50px;
    }

    .navbar.small {
        padding: 5px 10px;
        height: 60px;
    }
}


    /* Hero Section Styles */
    .hero-section {
        position: relative;
        width: 100%;
        /*height: calc(80vh - 100px); !* Adjust height to fit perfectly below navbar; adjust 120px according to navbar height *!*/
        overflow: hidden;
        margin-top: 0px; /* Push hero section below the fixed navbar */
    }

    .hero-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the whole section */
        display: block;
    }
    /* About Section Styles */
    .about-section {
        text-align: center;
        padding: 50px;
        background-color: #f9f9f9;
    }
    .about-text {
        padding: 0 15%;
    }
    .about-text p:first-of-type {
        font-weight: 600;
        font-size: 2em;
        color: #002b49;
        margin-bottom: 20px;
    }
    .about-text p {
        font-size: 1.2em;
        color: #002b49;
        line-height: 1.8;
        margin: 10px 0;
    }
    .achievements {
        display: flex;
        justify-content: center;
        gap: 100px;
        margin-top: 50px;
    }
    .achievement {
        text-align: center;
    }
    .achievement h2 {
        color: #c59542;
        font-size: 3em;
        font-weight: 700;
        margin-bottom: 5px;
    }
    .achievement p {
        color: #666;
        font-size: 1.1em;
        font-weight: 500;
    }
     /* New Image Section Styles */
    .image-section {
        position: relative;
        width: 100%;
        height: 60vh;
        overflow: hidden;
    }

    .image-full {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }
  /* Stay Updated Section Styles */
    .stay-updated {
        text-align: center;
        padding: 50px;
        background-color: #fff;
        margin-top: 50px;
    }

    .stay-updated-title {
        font-size: 2em;
        color: #c59542; /* Gold-like color */
        font-weight: 700;
        margin-bottom: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px; /* Adjust the space between the text and the lines */
        padding-right: 10px;
    }

    .stay-updated-title::before,
    .stay-updated-title::after {
        content: "";
        width: 500px; /* Adjust this value to decrease or increase line length */
        height: 1px;
        background: #000;
    }

    .stay-updated p {
        font-size: 1.2em;
        color: #333;
        margin-bottom: 30px;
    }

    .subscription-form {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    .email-input {
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 900px;
        height: 60px;
    }

    .submit-button {
        padding: 10px 20px;
        font-size: 1em;
        color: #fff;
        background-color: #c59542;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        height: 60px;
    }

    .submit-button:hover {
        background-color: #a47630;
    }
/* Line Breaker Styles */
.line-breaker {
    border: none; /* Remove default border style */
    border-top: 1px solid #000; /* Add a custom line */
    margin: 30px 0; /* Add vertical spacing */
    width: 100%; /* Adjust width if you don't want it full-width */
    margin-left: auto; /* Center align the line */
    margin-right: auto; /* Center align the line */
}

/* Locate Us Section Styles */
.locate-us {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin-top: 50px;
}

.locate-us-title {
    font-size: 2em;
    color: #c59542; /* Gold-like color */
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px; /* Adjust the space between the text and the lines */
}

.locate-us-title::before,
.locate-us-title::after {
    content: "";
    width: 505px;
    height: 1px;
    background: #000;
}

.locate-us-subtitle {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 30px;
}

.locate-us-image {
    margin: 0 auto;
    max-width: 1000px; /* Adjust width to fit the image properly */
    padding: 20px 0;
}

.map-image {
    width: 100%;
    height: auto;
    object-fit: cover; /* Ensure the image covers the entire area */
}

/* Know More Button Styles */
.know-more-button-container {
    margin-top: 20px;
}

.know-more-button {
    padding: 15px 30px;
    font-size: 1em;
    color: #fff;
    background-color: #c59542; /* Gold-like color */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.know-more-button:hover {
    background-color: #a47630;
}



/* Featured Projects Section Styles */
.featured-projects {
    text-align: center;
    padding: 50px;
    background-color: #fff;
    margin-top: 50px;
}

.featured-projects-title {
    font-size: 2em;
    color: #c59542; /* Gold-like color */
    font-weight: 700;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.featured-projects-title::before,
.featured-projects-title::after {
    content: "";
    width: 425px; /* Adjust this value to decrease or increase line length */
    height: 1px;
    background: #000;
}

.featured-projects-subtitle {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 30px;
}

.carousel-container {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
    will-change: transform;
}

.project-link {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit color from the parent container */
}
.project {
    flex: 0 0 33%; /* Default - display 3 projects at a time */
    box-sizing: border-box;
    padding: 0 20px;
    transition: transform 0.3s, box-shadow 0.3s;

}
.project:hover {
    transform: scale(1.01); /* Slightly increase size on hover */
    /*box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); !* Add shadow on hover *!*/
}

.project img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.project h3 {
    margin-top: 15px;
    font-size: 1.4em;
    color: #002b49;
}

.project p {
    font-size: 1.1em;
    color: #666;
}

.arrow-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.carousel-arrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid #c59542; /* Gold-like border */
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s;
    color: #999; /* Initial grey color for arrow icon */
    font-size: 1.5em;
}

.carousel-arrow:hover {
    background-color: #c59542; /* Change background color on hover */
    border-color: #a47630; /* Darker shade for the border on hover */
    color: #fff; /* White color for the arrow icon on hover */
}

.carousel-arrow:focus {
    outline: none;
}

/* Responsive Styles */
@media (max-width: 1024px) {
    .project {
        flex: 0 0 50%; /* Display 2 projects at a time on medium screens */
    }

    .featured-projects-title::before,
    .featured-projects-title::after {
        width: 250px; /* Reduce the length of the lines for smaller screens */
    }
}














    /* Responsive Styles */
    @media (max-width: 768px) {
        .hero-section {
            height: calc(100vh - 80px); /* Adjust according to navbar height on smaller screens */
            margin-top: 0px;
        }

        .container {
            padding: 15px;
        }

        .achievements {
            flex-direction: column;
            gap: 30px;
        }

        .image-section {
            height: 40vh;
        }
         .email-input {
            width: 70%;
        }
     .locate-us-title::before,
    .locate-us-title::after {
        width: 50px; /* Shorter lines for smaller screens */
    }

    .locate-us-image {
        max-width: 100%;
        padding: 10px; /* Reduce padding to give more space for the image */
    }

    .map-image {
        height: auto;
        width: 100%;
        max-height: 50vh; /* Increase the image height to occupy more space on the screen */
    }

    .know-more-button {
        width: 100%; /* Full-width button on smaller devices */
    }
      .project {
        flex: 0 0 100%; /* Display 1 project at a time on smaller screens */
        padding: 0 10px; /* Reduce padding for smaller screens */
    }

    .featured-projects-title {
        font-size: 1.8em; /* Reduce font size */
    }

    .featured-projects-title::before,
    .featured-projects-title::after {
        width: 150px; /* Further reduce the line length */
    }

    .carousel-arrow {
        width: 40px; /* Reduce size of arrows */
        height: 40px;
        font-size: 1.2em; /* Smaller icon size */
    }
      .project-link {
        flex: 0 0 100%; /* Display 1 project at a time on smaller screens */
        padding: 0 10px; /* Reduce padding for smaller screens */
    }

    .featured-projects-title {
        font-size: 1.8em; /* Reduce font size */
    }

    .featured-projects-title::before,
    .featured-projects-title::after {
        width: 150px; /* Further reduce the line length */
    }

    .carousel-arrow {
        width: 40px; /* Reduce size of arrows */
        height: 40px;
        font-size: 1.2em; /* Smaller icon size */
    }

    }






    @media (max-width: 480px) {
        .hero-section {
            height: calc(100vh - 60px); /* Adjust according to smaller navbar height */
            margin-top: 0px;
             /*height: 40vh;*/

        }

        .container {
            padding: 10px;
        }

        h2 {
            font-size: 1.5em;
        }

        p {
            font-size: 1em;
        }
        .about-text {
            padding: 0 5%;
        }

        .achievement h2 {
            font-size: 2.5em;
        }

        .image-section {
            height: 30vh;
        }
          .email-input {
            width: 110%;
        }

        .subscription-form {
            flex-direction: column;
            gap: 20px;
        }
 .locate-us-image {
        max-width: 100%;
        padding: 5px; /* Further reduce padding for very small screens */
    }

    .map-image {
        height: auto;
        width: 100%;
        max-height: 60vh; /* Increase the image height more on smaller screens */
    }

    .know-more-button {
        width: 100%; /* Full-width button on smaller devices */
    }
        .featured-projects {
        padding: 30px;
    }
    .project-link {
        flex: 0 0 100%; /* Ensure only 1 project is visible at a time on very small screens */
        padding: 0; /* Remove padding for small screens to give a full-width effect */
    }
    .featured-projects-title {
        font-size: 1.5em; /* Reduce title font size for very small screens */
    }

    .featured-projects-subtitle {
        font-size: 1em; /* Smaller subtitle font size */
    }

    .carousel-arrow {
        width: 30px; /* Further reduce size of arrows */
        height: 30px;
        font-size: 1em;
    }
       .featured-projects {
        padding: 30px;
    }

    .featured-projects-title {
        font-size: 1.5em; /* Reduce title font size for very small screens */
    }

    .featured-projects-subtitle {
        font-size: 1em; /* Smaller subtitle font size */
    }

    .carousel-arrow {
        width: 30px; /* Further reduce size of arrows */
        height: 30px;
        font-size: 1em;
    }

    }